.myflex {
   display: flex;
   justify-content:space-between;  
}

.myGrid {
   display: grid;
   grid-template-columns: 1fr 1fr;
}

td.number {
   text-align: right;
}

/* Overrulen van Bootstrap, waarbij tables standaard de volledige breedte van de container innemen */
.table-nonfluid {
   width: auto !important;
}

body {
   margin: 8px;
   background-color: lightskyblue;
}